*, *::before, *::after {
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none;
  transition: all 0.2s;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgb(0, 255, 149), rgba(120, 150, 50, 1));
  font-family: 'Noto Sans JP', sans-serif;
}

.container {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: rgb(216, 214, 214);
  padding: 2rem;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 2px;
}

.container header {
  grid-column: 1 / -1;
  align-self: center;
  justify-self: center;
  text-align: center;
  border-radius: 5px;
}

.container button {
  font-size: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.container button:hover {
  background: rgba(62, 242, 255, 0.7);
}

.container button:focus {
  border: 1px solid black;
}

body > button {
  margin-top: 1rem;
  width: 20vw;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 1.2rem;
  display: none;
}

body > button:hover {
  background: #ccc;
}